{% extends 'base.html' %}
{% block content %}
<div class="container">
	<section class="section white z-depth-3 valign-wrapper">

		<article>
			<h2 class="heading center-align">The Purpose</h2>
			<p>In the midst of this pandemic many people have simultaneously become more isolated and more connected to
				one another. While the experience of the pandemic is essentially shared globally, it has taken a completely
				different form and shape for each individual depending on their own circumstances.</p>
			<p> The site was designed with this in mind. A space where everyone can share a little slice of their
				experience with others, a way to share that bit of unique experience wherever they are.</p>
			<p>The process is simple, click the orange button with the pencil to open the form, fill all fields, and use
				the editor to write a story with whatever formatting you like. Post and it will be shared and searchable
				to everyone!</p>
               <p>There is no need to create an account to post but if you wish to <strong>save, edit or delete</strong> your
				stories afterwards, you'll have to make one. For privacy, the account requires only a username and
				password, no email or ther personal information. This way the stories can remain essetially anonymous and people can be brutally honest without fear of repurcussion. Be conscious that <strong>the site is largely unmoderated</strong>, so story content may vary greatly.
			</p>
			<p>I hope you enjoy this little project!</p>
		</article>

	</section>
</div>
{% endblock %}