{% extends 'base.html' %}
{% block content %}
<div class="container">

	<section class="section white z-depth-3">
		<h5 class="center-align heading">A simple site for Sharing.</h5>
		<br>
		<div class="row center">
			<!-- Updating Map from Datawrapper.com -->
			<iframe title="Coronavirus COVID-19 confirmed &amp;amp; recovered cases" aria-label="World Symbol map"
				id="datawrapper-chart-nTild" src="//datawrapper.dwcdn.net/nTild/3/" scrolling="no" frameborder="0"
				style="width: 0; min-width: 100% !important; border: none;" height="525"></iframe>

			<script type="text/javascript">
				!function(){
                        "use strict";window.addEventListener("message",function(a){
                            if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){
                                var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")
                            }
                        })
                    }();
			</script>
		</div>
		<br><br>



		<!-- Function to place each story as a card -->
		{% set _stub = story_list.rewind() %}
		{% for story in story_list %}
		<!--   Story Section   -->
		<hr class="{{ story.color[0] }}">
		<br>
		<div class="row">
			<div class="col s12">
				<article class="card {{ story.color[0] }} accent-1 hoverable">
					<div class="card-content no-pad-bot">
						<div class="row no-m-bot">
							<span class="card-title col s12 m6 heading">{{ story.title[0] }}</span>
							<span id="date-med-{{ story._id }}" class="card-title col s12 m6 heading hide-on-small-only right-align"></span>
							<span id="date-small-{{ story._id }}"class="card-title col s12 m6 heading hide-on-med-and-up"></span>
							<div class="col s12">
								<p>By {{ story.name[0].title() }},<br>
                                    Age {{ story.age[0] }}, <br>
                                    In {{ story.country[0].title() }}.</p><br>
                                    <p>{{ story.text[0]|safe }}</p> <br>
                                </div>
									<div class="card-action col s12">
										<p>Tags: {% for tag in story.tags %}{{ tag }}, {% endfor %}</p>
									</div>
							</div>
						</div>
				</article>
			</div>
		</div>
		{% endfor %}
        {% set _stub = story_list.rewind() %}
	</section>

	<div class="tap-target no-autoinit purple darken-1" data-target="fab-index">
		<div class="tap-target-content">
			<h5 class="white-text">Post a Story here!</h5>
			<p class="white-text">Use this menu to post a story, search, login or get help.</p>
		</div>
	</div>


	{% endblock %}

	{% block javascript %}
	<script>
		var tagList = {
                {% for tag in taglist %}
                    "{{ tag }}": null,
                {% endfor %}
            };
            {% for story in story_list %}
                showDate('{{ story._id }}', '{{ story.time[0] }}')
            {% endfor %}
            initTags(tagList, 'index');
            initStoryModal('index');
            formValid('index');
            initFab()

	</script>
	{% endblock %}