{% extends 'base.html' %} {% block content %}
<div class="container">

    <section class="section white z-depth-3">
        <h5 class="center-align heading">A simple site for Sharing.</h5>
        <br>
        <div class="row center">
            <!-- Updating Map from Datawrapper.com -->
            <iframe title="Coronavirus COVID-19 confirmed &amp;amp; recovered cases" aria-label="World Symbol map" id="datawrapper-chart-nTild" src="//datawrapper.dwcdn.net/nTild/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="525"></iframe>

            <script type="text/javascript">
                ! function() {
                    "use strict";
                    window.addEventListener("message", function(a) {
                        if (void 0 !== a.data["datawrapper-height"])
                            for (var e in a.data["datawrapper-height"]) {
                                var t = document.getElementById("datawrapper-chart-" + e) || document.querySelector("iframe[src*='" + e + "']");
                                t && (t.style.height = a.data["datawrapper-height"][e] + "px")
                            }
                    })
                }();
            </script>
        </div>
        <br>
        <br>
{{ pagination.links }}
        <!-- Function to place each story as a card -->
{% for story in story_list %}
        <!--   Story Section   -->
        <hr class="{{ story.color }}">
        <br>
        <div class="row">
            <div class="col s12">
                <article class="card {{ story.color }} lighten-2 hoverable">
                    <div class="card-content no-pad-bot">
                        <div class="row no-m-bot">
                            <span class="card-title col s12 m6 heading">{{ story.title }}</span>
                            <span id="date-med-{{ story._id }}" class="card-title col s12 m6 heading hide-on-small-only right-align"></span>
                            <span id="date-small-{{ story._id }}" class="card-title col s12 m6 heading hide-on-med-and-up"></span>
                            <div class="col s12">
                                <p>By {{ story.name.title() }},
                                    <br> Age {{ story.age|string }},
                                    <br> In {{ story.country.title() }}.</p>
                                <br>
                                <p>{{ story.text|safe }}</p>
                                <br>
                            </div>
                            <div class="card-action col s12">
                                <p>Tags: {% for tag in story.tags %}{{ tag }}, {% endfor %}</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        {% endfor %} 
        {{ pagination.links }}
    </section>
</div>

<div class="tap-target no-autoinit purple lighten-1" data-target="fab-index">
    <div class="tap-target-content">
        <h5 class="white-text">Post a Story here!</h5>
        <p class="white-text">Use this menu to post a story, search, login or get help.</p>
    </div>
</div>

{% endblock %}