/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


html {
    font-family: 'Josefin Slab', serif;
    font-size: 1.1rem 
}

.heading {
font-family: 'IM Fell English SC', serif;
}

.mini-text {
    font-size: 0.7rem
}
strong { 
    font-weight: bold;
}

hr {
    height: 0.1rem
}

.tabs .tab a {
    color: #00796b  ;
}

.tabs .tab a:hover,
.tabs .tab a.active,
.tabs .tab.a {
    color: #00bfa5;
}

.tabs .tab a:focus.active {
  color:#00bfa5;
  background-color: rgba(81, 201, 165, 0.2);
}

.tabs .indicator {
    background-color: #00bfa5;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border-color: #00bfa5;
    background-color: #00bfa5 
}

.row .pd-t {
    padding-top: 0.4rem 
}

.row form.col {
    padding: 0;
}

form .col.pd-b {
    padding-bottom: 0.6rem
}

.sidenav li>a {
    font-size: 1.2rem
}

@media only screen and (max-width: 600px) {
nav .brand-logo {
    font-size: 8vw;
}

.modal {
    max-height: 85%;
    width: 90%; 
}

.modal .modal-content {
    padding: 12px
}
}

.icon-block {
  padding: 0 0.9rem;
}
.icon-block .material-icons {
	font-size: inherit;
}

.no-m-bot,
.title {
    margin-bottom: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mar-bot-24 {
    margin-bottom: 24px !important;
}

.no-pad-bot {
  padding-bottom: 0 !important;
}

.section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    min-height: 100vh;
}

@media only screen and (max-width: 400px) {
.section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
}

.horizontal-button {
position:absolute; 
bottom:-29px; 
right:10px"
}

.success {
    background-color: #00bfa5;
}

.sorry {
    background-color: #e53935;
}

/* fix for no bullet points in editor */
.ck.ck-content ul,
.ck.ck-content ul li{
  list-style-type: inherit;
}

.ck.ck-content ul {
  padding-left: 2.5rem;
}